<div class="text-center login-bg">
  <img src="assets/images/brand-logo.png" class="app-logo">
    <form class="form-signin" #formCtrl="ngForm">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email"  type="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="user.email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="user.password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" (click)="signInWithEmail()"  type="submit">Sign in</button>
        <p></p>
        <div class="form-group">
            <button type="buton" class="btn btn-block" (click)="signInWithFacebook()">
              <i class="fa fa-facebook" aria-hidden="true"></i> 
              Login with Facebook
            </button>
          <button type="button" class="btn btn-block" (click)="signInWithTwitter()">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              Login with Twitter
            </button>
          <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
              <i class="fa fa-google" aria-hidden="true"></i>
              Login with Google
            </button>
          </div>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>
  </div>
